:global{
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background: #414141;
    margin: 10px;
  }
}
.designWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  .leftWrapper {
    position: fixed;
    top: 65px;
    left: 0;
    flex: 0 0 auto;
    height: calc(100% - 50px);
    .leftMain{
      position: fixed;
      height: calc(100% - 50px);
      top: 65px;
      left: 0;
      background-color: #414141;
      color: white;
      overflow-y: auto;
      will-change: width;
      -webkit-transition: width .1s ease .1s;
      transition: width .1s ease .1s;
    }
    .selecshow{
      position: absolute;
      top: 0;
      left: 94%;
      z-index: 999;
      font-size: 24px;
      color: #a1faeb;
      opacity: 0.6;
    }
    .showUnfold{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      font-size: 24px;
      color: #a1faeb;
      opacity: 0.6;
    }
    .selecshow:hover,.showUnfold:hover{
      opacity: 1;
    }
    .leftMain::-webkit-scrollbar {
      display: none;
    }
  }

  //中间内容
  .mainWrapper {
    //background-color: lightskyblue;
  }

  .rightWrapper {
    position: fixed;
    top:65px;
    right: 0;
    flex: 0 0 auto;
    height: calc(100% - 50px);
    .rightMain{
      position: fixed;
      top:65px;
      right: 0;
      flex: 0 0 auto;
      height: calc(100% - 50px);
      overflow-y: auto;
      background-color: #404040;
      color: white;
      will-change: width;
      -webkit-transition: width .1s ease .1s;
      transition: width .1s ease .1s;
      .shangTriangle:after{
        display: inline-block;
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #CCCCCC;

      }
      .rightCard{
        .ant-card-body {
          padding-top: 0;
        }
        .ant-card-head {
          border-bottom: none;
        }
        .ant-checkbox-inner,.ant-radio-inner {
          background: none;
          border: 1px solid #7f7c7c;
        }
      }
    }
    .selecRightshow{
      position: absolute;
      font-size: 22px;
      top: 0;
      left: -10px;
      z-index: 999;
      color: #a1faeb;
      opacity: 0.3;
    }
    .selecRightLeft{
      left: -22px!important;
      position: absolute;
      font-size: 22px;
      top: 0;
      z-index: 999;
      color: #a1faeb;
      opacity: 0.3;
    }
    .selecRightshow:hover{
      opacity: 1;
    }
    .selecRightLeft:hover{
      opacity: 1;
    }
    .rightMain::-webkit-scrollbar {
      display: none;
    }
  }
}
