.rightContent {
  .iconWrapper {
    display: flex;
    justify-content: center;
    .iconColR:hover {
      color: #F44336;
    }
    .iconCol {
      font-size: 16px;
    }
    .iconDes {
      font-size: 12px;
    }

  }
  .buttonType{
    .ant-btn:hover, .ant-btn:focus {
      color: #F44336;
      background: #fff!important;
      border-color: #F44336;
    }
  }
}

:global{
  .ant-card-head {
    border-bottom: none;
  }
}
